nav.main-navig{
background: none;
display: none;

}
ul {
  font-family: 'Indie Flower', cursive;
}

a {
  text-decoration: none;
}
nav.main-nav a{
  float: none;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-right: 2%;
}
.nav.main-navig {
  color: black;
  text-decoration: none;
}
