body {
  background-repeat: no-repeat;
  background-image: url(img/vot2.gif);
  background-size: 100% 100%;

}
li {
  display: inline;
  border-radius: 500px;
  font-size: 500%;
  color: black;
  text-align: center;
  text-decoration: none;
}

nav {
  background-color: gray;
  height: 15%;
  width: 100%;
}
header {
  background-image: url(img/volt4.gif);
  border-radius: 100px;
  text-align: center;
  padding: 2%;
  width: 200px;
  margin-top: 2%;
  margin-right: 1%;
  align-items: center;
}

#nato {
  float: left;
  margin-top: 2%;
  height: 130px;
  width: 130px;
  border-style: solid;
  margin-left: 10px;
}
#para {
  float: left;
  width: 60%;
  height: auto;
  border-style: solid;
  margin-top: 4%;
  margin-left: 10px;
  background-color: black;
}

#about-me h1 {
  margin-left: 20px;
}

#preview {
  display: none;
}
