.template {
  display: none;
}

body {
  background-color: black;
  color: white;
}
@media screen and (min-width: 906px){
  #ham {
    display: none;
  }
  nav.main-nav{
  background: none;
  display: block;
  }
  nav.main-navig{
  background: none;
  display: none;

  }
  #about-me {
    margin-top: 20px;
  }
}
@media screen and (max-width: 905px){
  nav.main-navig{
  background: none;
  display: none;

  }
  nav.main-nav{
  display: none;
  }
  #ham {
    display: block;
    height: 80px;
    width: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  #preview {
    height: 50%;
    width: 50%;
    float: right;
    margin-right: -10%;
    margin-top: 10%;
  }
  html {
    width: 100%;
    /*height: 100%;*/
    color: white;
  }
  .main-navig ul{
    display: block;
    height: 10%;
    color: white;
  }
  .main-navig li{
    float: none;
    display: block;
    font-size: 250%;
    text-align: center;
    color: white;
  }
  nav.main-navig{
  background: none;
  display: inline;
  }
ul {
display: inline;
height: 10%;
}

header {
  float: right;
  right: 0px;
  top: 0px;
  display: inline;
  background-image: url(img/volt3.gif);
  border-radius: 100px;
  text-align: center;
  padding: 2%;
  width: 400px;
}
section#projects {
  width:200px;
  position: absolute;
  margin-top: 240px;
  margin-left: 20px;

}
#round {
display: none;
}
hr {
  display: none;
}
li {
  width: 130px;
  background-color: gray;
  border-style: solid;
  border-color: black;
  margin-left: 58px;
  margin-top:  10px;
}
#projects {
  margin-right: 0%;
}
#about-me {
  margin-top: 230px;
}

}
