* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.template {
  display: none;
}

body {
  background-color: black;
  color: white;
}

@media screen and (max-width: 905px){
  html {
    width: 100%;
    height: 100%;
  }
  .main-nav ul{
    display: block;
  }
  .main-nav li{
    float: none;
    display: block;
    font-size: 250%;
    color: black;
    text-align: center;

  }
  nav.main-nav{
  background: none;
  display: block;
  }
ul {
display: block;
height: 50%;
}
header {

  float: none;
  display: block;
  margin-top: 50%;
  margin-right: 0;
  background-image: url(img/volt3.gif);
  border-radius: 100px;
  text-align: center;
  padding: 2%;
  width: 100%;
  align-items: center;
  font-size: 50%;
}
section#projects {
  width: 100%;
  float: left;
  display: block;
  margin-top: 150px;
  margin-left: 43%;
}

hr {
  display: none;
}
