* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.template {
  display: none;
}

body {
  background-color: black;
  color: white;
}
@media screen and (min-width: 906px){
  #ham {
    display: none;
  }
  nav.main-nav{
  background: none;
  display: block;
  }
  nav.main-navig{
  background: none;
  display: none;

  }
}
@media screen and (max-width: 905px){
  nav.main-navig{
  background: none;
  display: none;

  }
  nav.main-nav{
  display: none;
  }
  #ham {
    display: block;
    height: 80px;
    width: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  #preview {
    height: 50%;
    width: 50%;
    float: right;
    margin-right: 20%;
    margin-top: 10%;
  }
  html {
    width: 100%;
    /*height: 100%;*/
    color: white;
  }
  .main-navig ul{
    display: block;
    height: 50%;
    color: white;
  }
  .main-navig li{
    float: none;
    display: block;
    font-size: 250%;
    text-align: center;
    color: white;
  }
  nav.main-navig{
  background: none;
  display: block;
  }
ul {
display: block;
height: 50%;
}

header {

  float: none;
  display: block;
  margin-top: 50%;
  margin-right: 0;
  background-image: url(img/volt3.gif);
  border-radius: 100px;
  text-align: center;
  padding: 2%;
  width: 100%;
  align-items: center;
  font-size: 50%;
}
section#projects {
  width: 100%;
  float: left;
  display: block;
  margin-top: 150px;
  margin-left: 42%;
}
#round {
  margin-top: 80%;
  margin-left: -10%;
}
hr {
  display: none;
}
}
