.template {
  display: none;
}

body {
  background-color: black;
  color: white;
  background-image: url(/img/vot2.gif);
}
@media screen and (min-width: 906px){
  #ham {
    display: none;
  }
  #preview {
    height: 300px;
    width: 400px;
    position: absolute;
    margin-left: 300px;
    margin-top: -380px;
    border-radius: 100px;
  }
  nav.main-nav{
  background: none;
  display: block;
  }
  nav.main-navig ul {
    display: none;
  }


  #about-me {
    margin-top: 20px;
  }
}
@media screen and (max-width: 905px){
  nav.main-navig{
  background: none;
  display: none;

  }
  nav.main-nav{
  display: none;
  }
  #ham {
    display: block;
    height: 80px;
    width: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  #preview {
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 65px;
    margin-top: 510px;
    border-radius: 50px;
  }
  .main-navig ul{
    display: block;
    height: 10%;
    color: white;
  }
  .main-navig li{
    float: none;
    display: block;
    font-size: 250%;
    text-align: center;
    color: white;
  }
  nav.main-navig{
  background: none;
  display: inline;
  }
ul {
display: inline;
height: 10%;
}

header {
  float: right;
  right: 0px;
  top: 0px;
  display: inline;
  background-image: url(img/volt3.gif);
  border-radius: 100px;
  text-align: center;
  padding: 2%;
  width: 400px;
}
section#projects {
  width:200px;
  position: absolute;
  margin-top: 240px;
  margin-left: 20px;

}

hr {
  display: none;
}
li {
  width: 130px;
  background-color: gray;
  border-style: solid;
  border-color: black;
  margin-left: 58px;
  margin-top:  10px;
}
#projects {
  margin-right: 0%;
}
#about-me {
  margin-top: 230px;
}
.desc {
  display: none;
}
}
